.wl-content .wl-emoji {
  height: 3em !important;
  vertical-align: sub !important;
}
.wl-content .wl-emoji[src^='/img/emote/小黄脸/'], .wl-content .wl-emoji[src^='/img/emote/tv_小电视/'], .wl-content .wl-emoji[src^='/img/emote/喵/'] {
  height: 1.5em !important;
}
